footer {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #707070;
}

.social-icons {
  height: 70px;
  width: 70px;
  filter: invert(88%) sepia(1%) saturate(2046%) hue-rotate(319deg) brightness(89%) contrast(73%);
}
