@import "../base/typography";

.header-container {
  width: 100vw;
  height: 70vh;
  padding: 0;
  background: rgba(172, 165, 245, 0.5);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  @media screen and (max-width: 576px) {
    .header-text-row {
      width: 100%;
      margin: 0;
      position: absolute;
      bottom: 30px;
    }
  }

  .header-text-row {
    z-index: 3;
    height: 70vh;
    color: white;

    h1 {
      font-size: 60px;
      font-family: $font;
      font-weight: bold;
      text-transform: uppercase;
    }

    .colored-text-header {
      color: #F39200;
      font-weight: normal;
    }
  }

}


