@import "../base/typography";

.header-container {
  width: 100vw;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  @media screen and (max-width: 991px) {
    .header-text-row {
      width: 90%;
      margin: 0;
      position: absolute;
      bottom: 55vh;
    }
  }

  .header-text-row {
    z-index: 3;

    color: white;

    h1 {
      font-size: 60px;
      font-family: $font;
      font-weight: bold;
      text-transform: uppercase;
    }

    .colored-text-header {
      color: #F39200;
      font-weight: normal;
    }
  }
  @media screen and (min-width: 992px) {
    .header-text-row {
      height: 90vh;
      width: fit-content;
      margin-left: 50px;
    }

  }

}

@media screen and (max-width: 991px) {
  .header-container {
    height: 50vh
  }
}
@media screen and (min-width: 992px) {
  .header-container {
    height: 100vh
  }
}
