.nav-home {

  @media screen and (max-width: 991px) {
    background: rgba(0, 0, 0, 0.6)!important;
  }
  @media screen and (min-width: 992px) {
    background-color: transparent!important;

    a {
      color: white!important;

      &:hover {
        color: #1d1d1d !important;
      }
    }
  }
}

.navbar {
  z-index: 99!important;
}
