@import "../base/typography";

.nav-home {
  a {
    font-family: $font;
    font-stretch: condensed;
  }
  @media screen and (max-width: 991px) {
    background: rgba(0, 0, 0, 0.6)!important;

    a {
      color: white !important;
      font-size: 20px;
    }
  }
  @media screen and (min-width: 992px) {
    background-color: transparent!important;
    .navbar-toggler {
      color: white!important;
      border-color: white!important;
    }
    a {
      color: white!important;
      font-size: 20px;

      &:hover {
        color: #1d1d1d !important;
      }
    }
    .navbar-brand {
      font-size: 30px;
    }
  }
}

.nav-single {
  a {
    font-family: $font;
    font-stretch: condensed;
  }
  @media screen and (max-width: 991px) {
    background: rgba(255, 255, 255, 0.6) !important;

    a {
      color: black !important;
      font-size: 20px;
    }
  }
  @media screen and (min-width: 992px) {
    background-color: transparent!important;

    a {
      color: black!important;
      font-size: 20px;

      &:hover {
        color: #1d1d1d !important;
      }
    }
    .navbar-brand {
      font-size: 30px;
    }
  }
}

.navbar {
  z-index: 99!important;

  @media screen and (min-width: 1235px) {
    ul {
      min-width: 80%;
      width: fit-content;
    }
  }

}

@media screen and (max-width: 991px) {
  .navbar-nav {
    width: 50%;
    margin: auto;
    text-align: center;
    position: relative!important;
  }
}
@media screen and (min-width: 992px) {
}
